<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="{% static 'todo/index.css'%}"/>
</head>
<body>
    <h1>TODO</h1>
    <ul>
        {% for each in tasks %}
            <li>{{each}}</li>
        {% empty %}
            <li>No Task yet</li>
        {% endfor %}
    </ul>
    <a class="btn" href="{% url 'add' %}">New Task</a>
</body>
</html>